params.minQ       = 30
params.fasta      = '/core/projects/EBP/Oneill/limulus_popgen/horseshoe_demog/data/genome/genome.fa'
params.fai        = '/core/projects/EBP/Oneill/limulus_popgen/horseshoe_demog/data/genome/genome.fa.fai'
params.alignments = '/core/projects/EBP/Oneill/limulus_popgen/horseshoe_demog/results/alignments/SRR*bam'
params.fboptions  = '--no-population-priors'
params.exclude    = '/core/projects/EBP/Oneill/limulus_popgen/horseshoe_demog/results/coverage/illumina_exclude_1000x.bed.gz'


process.module = 'bedtools:freebayes:htslib:vcflib:bcftools'

process.executor       = 'slurm'
process.clusterOptions = '--qos=general'
process.queue          = 'general'

process.cpus   = 1
process.memory = '4GB'